a:hover{
    text-decoration: none;
}
html
{
    scroll-behavior: smooth;
}
#NavLinks
{
    background-color: #F2F3F7; 
    height: 100vh;
}


.nav
{
    display: inline;
    align-items: center;
    
}

.nav-links ul li a
{
    text-decoration: none;
    text-align: center;
    color: grey;

}
.nav-links p
{
    color: grey;

}
#mynavi
{
    position: relative;
    top: 50px;
}

#home
{
    background-image: url('./Images/my-img.png');
    background-repeat: no-repeat;
    position: relative;
    background-position: 400px 0;
    height: 700px;
    position: relative;
    top: 50px;

}

#home h1,a
{
    color: grey;
}


.socialIcons a i
{
    font-size: 30px;
    margin: 10px;
    color: grey;
   
}
#socialIcon1:hover
{
    color: rgb(231, 73, 73);

}
#socialIcon2:hover
{
    color: black;
}
#socialIcon3:hover
{
    color: blue;
}
#socialIcon4:hover
{
    color: green;
}
#About p
{
    position: relative;
    top: 10px;
}

#icon 
{
    margin: 1rem 1rem;
    width: 12rem;
    height: 9rem;
    background: #F2F3F7;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.952);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#icon i
{
    font-size: 3rem;
    color: grey;
}
#icon i,p
{
    position: relative;
    top: 20%;
}


#icon::before
{
    content: "";
    position: absolute;
    background: grey;;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform-origin: bottom;
    transform: scaleY(0.03);
    transition: all 0.3s;
}
#icon:hover
{
    background: rgb(104, 114, 124);
    transition: 0.5s;
}

#Projects img
{
    height: 400px;
}

form .txt_field
{
   
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;

}

.txt_field input,textarea
{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt_field 
{
    width: 100%;
    padding: 0 5px;
    height: 35px;
    border: none;
    font-size: 16px;
    background: none;
    outline: none;
    
}

.to-top
{
    background: gray;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: black;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active
{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

@media (min-width: 820px)
{
    #myContent
    {
        position: relative;
        left: 100px;
    }
}

@media (max-width: 995px) 
{
    #home
    {
        background-position:300px 0;

        
    }

    #home h1,h2{
        position: relative;
        top: 60px;
        font-size: 28px;
    }
    #home #bt2
    {
        position: relative;
        top: 100px;
    }
    #home #bt2,.socialIcons
    {
        position: relative;
        top: 50px;
    }
    .nav-links ul li
    {
        display: block;
    }
    .nav-links
    {
        position: absolute;
        text-align: right;
        height: 100vh;
        width: 200px;
        top:0;
        left: -200px;
        z-index: 2;
        transition: 1s;
    }   
    
    .nav .fa
    {
        display: block;
        color: grey;
        margin: 10px;
        cursor: pointer;
        font-size: 22px;
    }
        
    .nav-links ul
    {
        padding: 30px;
    }
    #icon 
    {
        margin: 0px;
        margin-bottom: 30px;
        width: 9rem;
        height: 9rem;
            
    }
        #icon i
        {
            font-size: 3rem;
            position: relative;
            top: 20%;
        }
        #Projects img
        {
            height: 200px;
        }
}
@media (max-width: 550px) 
{
    #home
    {
        background-position: 120px 0;
        height: 100vh;
    
    } 
    #icon
    {
        position: relative;
        left: 40px;
    }
}
@media (max-width: 420px) 
{
    #home
    {
        background-position: 65px 0;
        height: 100vh;
    
    } 
    #socialIcon1,#socialIcon2,#socialIcon3,#socialIcon4
    {
        font-size: 1.5rem;

    }
    #icon
    {
        position: relative;
        left: 0;
        top: -10px;
    }

    #home h2 a,h2
    {
        font-size: 20px;   
    }
}
